body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}

button {
    background: #1B244A;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: 0.2rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
}

.button-group {
    margin-top: -5rem;
    text-align: center;
}

.score {
    background: #080001;
    text-align: center;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 90px;
    font-weight: 400;
    margin-top: 1rem;
    border-radius: 0.5rem;
}
